<!-- <all-properties> </all-properties> -->


  			 <dyhr-listings> </dyhr-listings>
  		</div>	
	</div>
</div><br><br>
<div class="container">  
  <div class="row"> 
    <div class="col-xs-24 col-md-12" ng-repeat="info in results | orderBy: 'price'"> 
        <div class="imglist">
          <a ng-href="/objekt/{{info._id}}">
          <img src="{{info.img[0].url}}" id="bildSize" class="img-responsive" alt="{{info.img[0].name}}"/>
          <div class="textOver" class="panel panel-default img-responsive">
            
              <span>{{info.address}}
                <br>
              {{info.price | currency: "KR" : 0 }}</span>
            
          </div>
          </a>
      </div>
    </div>
  </div>
</div>

    </div>
 </div>
</div>