<body style="background : url("http://www.pptback.com/uploads/professional-red-background-backgrounds-powerpoint.jpg")"></body>
<div class="container-fluid">
 <div class="row">
  <div class="col-xs-24">
   <h3 class="m_3" align="center">Kontakta Dyhr&Rumson</h3>
   <hr class="featurette-divider"></hr> <!-- the horisantal line/divider -->
<br /> <br /> 

   <div class="container">
    <div class="row text-center">
    <span style="font-size:3.5em;" class="glyphicon glyphicon-phone-alt">&nbsp;</span>
    <span style="font-size:3.5em;" class="glyphicon glyphicon-home">&nbsp;</span>
    <span style="font-size:3.5em;" class="glyphicon glyphicon-heart"></span>
    </div>
   </div>
<br /> <br />

<h3 style="text-align: center;" style="font-family: italic;">Tveka inte att höra av dig till oss - Vad det än gäller</h3>
<br /> <br />

     <!-- The Modal(the button) -->
     <div class="row text-center">
     <button type="button" class="btn btn-danger" data-toggle="modal" href="#dyhrModal" ng-click="openModal()">Kontakta oss</button>
     </div>

      <div id="dyhrModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="dyhrModalLabel" aria-hidden="true" style="background: orange;">

       <div class="modal-dialog">
        <div class="modal-content">
         <div class="modal-header">
         <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
         <h3 class="m_3" id="dyhrModalLabel" align="center">Hör gärna av er till oss</h3>
<hr class="featurette-divider"></hr> <!-- the horisantal line/divider -->
          <div class="modal-body ">
          <form class="form-horizontal col-sm-12">

           <div class="form-group">
           <label>Namn</label>
           <input class="form-control required" placeholder="Ditt namn" data-trigger="manual" type="text">
           </div>

           <div class="form-group">
           <label>Address</label>
           <input class="form-control required" placeholder="Gatuaddress" data-trigger="manual" type="text">
           </div>

           <div class="form-group">
           <label>Stad</label>
           <input class="form-control required" placeholder="Stad" data-trigger="manual" type="text">
           </div>

           <div class="form-group">
           <label>Telefon</label>
           <input class="form-control required" placeholder="Telefon" data-trigger="manual" type="text">
           </div>

           <div class="form-group">
           <label>E-mail</label>
           <input class="form-control required" placeholder="Email" data-trigger="manual" type="text">
           </div>

           <div class="form-group">
           <label>Meddelande</label>
           <textarea class="form-control" placeholder="Meddelandet here.." data-placement="top" data-trigger="manual"></textarea>
           </div>

          
           <div class="form-group">
           <button type="submit" class="btn btn-danger pull-left"> Skicka
           <script>
           $("#Modal").validator().on("submit", function (event) {
           });
           </script>
           </button>

           <button class="btn btn-success pull-right" data-dismiss="modal" aria-hidden="true">Tillbaka</button>
           </div>
          </form>
          </div></div>
      
    </div>
  </div>
</div>

<hr class="featurette-divider"></hr> <!-- the horisantal line/divider -->

            <div class="container">
             <div class="row text-center">
             <h3 style="font-family: italic;">Hitta oss på sociala medier</h3><br /><br />
             <p class="wowload flipInx"><a href="http://plus.google.com" target="_blank"><i class="fa fa-google-plus fa-3x" style="color: #cc0000;"></i></a>&nbsp; &nbsp; &nbsp; &nbsp;
             <a href="http://http://facebook.com" target="_blank"><i class="fa fa-facebook fa-3x" style="color: #cc0000;"></i></a> &nbsp; &nbsp; &nbsp; &nbsp;
             <a href="http://instagram.com" target="_blank"><i class="fa fa-instagram fa-3x" style="color: #cc0000;"></i></a> &nbsp; &nbsp; &nbsp; &nbsp;
             <a href="http://twitter.com" target="_blank"><i class="fa fa-twitter fa-3x" style="color: #cc0000;"></i></a></p>
             </div>
            </div>
<hr class="featurette-divider"></hr> <!-- the horisantal line/divider -->

</div>
 </div>
  </div>