<div class="container-fluid">
  <div class="row">
    <div class="col-xs-24">
    	<h3 class="m_3" align="center">Kontakta Dyhr&Rumson</h3>
		<hr class="featurette-divider"></hr>
    </div>
  </div>
  <div class="row text-center"> 
  	<span style="font-size:3.5em;" class="glyphicon glyphicon-phone-alt">&nbsp;</span>
	<span style="font-size:3.5em;" class="glyphicon glyphicon-home">&nbsp;</span>
	<span style="font-size:3.5em;" class="glyphicon glyphicon-heart"></span>
  </div>
  <div class="row"> 
  <h3 style="text-align: center;">Tveka inte att höra av dig till oss - Vad det än gäller</h3>
  </div>
    <div class="row"> 
  		<a href="#Modal" role="button" class="btn btn-custom" align="center" data-toggle="modal">Kontakta oss</a>
<div id="Modal" class="modal fade" tabindex="-1" data-width="760" aria-hidden="true">
<div class="modal-dialog">
<div class="modal-content">
<div class="modal-header">
<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>

<!-- The form when open the modal -->
<form>
<h3 class="modal-title">Hör gärna av er till oss</h3>
<hr class="featurette-divider"></hr> <!-- the horisantal line/divider -->
<div class="form-group"> <!-- Name field -->
<label class="control-label " for="name">Namn</label>
<input class="form-control" id="name" name="name" type="text"/>
</div>
<div class="form-group"> <!-- Adress field -->
<label class="control-label " for="adress">Address</label>
<input class="form-control" id="adress" name="adress" type="text"/>
</div>
<div class="form-group"> <!-- City field -->
<label class="control-label " for="city">Ort</label>
<input class="form-control" id="city" name="city" type="text"/>
</div>
<div class="form-group"> <!-- Email field -->
<label class="control-label requiredField" for="email">Email</label>
<input class="form-control" id="email" name="email" type="text"/>
</div>
<div class="form-group"> <!-- Telephone field -->
<label class="control-label " for="telephone">Telefon</label>
<input class="form-control" id="telephone" name="telephone" type="text"/>
</div>
<div class="form-group"> <!-- Message field -->
<label class="control-label " for="message">Meddelande</label>
<textarea class="form-control" cols="40" id="message" name="message" rows="8"></textarea>
</div>
	
<div class="form-group">
<button class="btn btn-danger " name="submit" type="submit">Skicka</button>
</div>
</form>		<!-- End the form -->
</div></div></div></div></div></div>
    <div class="row"> 
  	<hr class="featurette-divider"></hr> <!-- the horisantal line/divider -->

  </div>
    <div class="row"> 
  	<h3>Hitta oss på sociala medier</h3><br /><br />
<p class="wowload flipInx"><a href="http://plus.google.com" target="_blank"><i class="fa fa-google-plus fa-3x" style="color: orange;"></i></a>&nbsp; &nbsp; &nbsp; &nbsp;
<a href="http://http://facebook.com" target="_blank"><i class="fa fa-facebook fa-3x" style="color: orange;"></i></a> &nbsp; &nbsp; &nbsp; &nbsp;
<a href="http://instagram.com" target="_blank"><i class="fa fa-instagram fa-3x" style="color: orange;"></i></a> &nbsp; &nbsp; &nbsp; &nbsp;
<a href="http://twitter.com" target="_blank"><i class="fa fa-twitter fa-3x" style="color: orange;"></i></a>
</p>
  </div>
    <div class="row"> 
  	<hr class="featurette-divider"></hr> <!-- the horisantal line/divider -->
  </div>
</div>