<div class="container-fluid">
  <div class="row">
    <div class="col-xs-24 col-md-24"></div>
      <h3 class="m_3">Om Dyhr&Rumson</h3>
      <div class="section_group"> 
        <div class="col_1_of_2 span_1_of_2">
          <img src="img/gruppbild.jpg" class="img-responsive" alt=""/>
        </div>
        <div class="col_1_of_2 span_1_of_2">
          <h4>"Det finns ingen plats som Hem"</h4>
          <p>Nånting om Oss, vad vi gör. När vi började osv, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
        </div>
        <div class="clearfix"> </div>
      </div>
    </div>
    <div class="col-md-4 about_box">
      <h3 class="m_3">Vår Historien</h3>
      <h4>"Nånting om när vi har börjat osv"</h4>
      <p>On the other hand, we denounce with righteous indignation and dislike men who are so beguiled and demoralized by the charms of pleasure of the moment, so blinded by desire, that they cannot foresee the pain and trouble that are bound to ensue; and equal blame belongs to those who fail in their duty through weakness of will, which is the same as saying through shrinking from toil and pain</p>
    </div>
    <div class="clearfix"> </div>
    <div class="about_grid1">
      <h3>Kunder Feedback</h3>
      <div class="col-md-4">
        <div class="list styled custom-list">
          <ul>
            <li>
              <div class="about_desc">
                <h5>"Bra för jag välde de"</a></h5>
                  <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour. <br /><br /> "Svene Svenson - Malmö"</p>
              </div>
            </li>
          </ul>
        </div>
      </div>

      <div class="col-md-4">
        <div class="list styled custom-list">
          <ul>
            <li>  
              <div class="about_desc">
                <h5>"Best att hitta hem"</a></h5>
                <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour. <br /><br /> "Mikael Bransonn - Stockholm</p>
              </div>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-md-4">
        <div class="list styled custom-list">
          <ul>
            <li>
              <div class="about_desc">
                <h5>"Hem min bästa Hem"</a></h5>
                <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour. <br /><br /> "Anna Rikardsson - Göteborg</p>
              </div>
            </li>
          </ul>
        </div>
      </div>
      <div class="clearfix"> </div>
    </div>
  </div>
</div>