.hshhh {
  color: white;
  font-size: 2em;
}

.hsh-container {
  background: url(../img/home-sweet-home.jpg);
  height: 600px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.img-responsive {
  display: initial;
  width: 100%;
}

.details {
  margin-top: 2%;   
}
.searchmodule {
  margin: 1%;
  height: 300px;
  overflow: hidden;
  p {
    max-height: 90px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  height: 100%;
  
  
}
.container-fluid {
  padding-left: 0;
  padding-right: 0;
}
.logo {
  position: static;
  margin-left: 10%;
}

img {
  vertical-align: middle;
}

.navbar {
  max-height: 64px;

}

.navbar-collapse {
  z-index: 115;
}

.dropdown-menu {
     position: absolute; 
     }

.container > .navbar-header, .container-fluid > .navbar-header, .container > .navbar-collapse, .container-fluid > .navbar-collapse {
    
    margin-left: -20px;
}
.navbar-collapse.in {
    
}

.row {
     margin-left: 15px;
     margin-right: 15px;
}

.navbar-default .navbar-collapse ul  {
    background: #F8F8F8;
    }


.details {
  margin-top: 0;
}
.logopic {
  z-index: 10;
}

#om-oss-flik {
  margin-top: 0px;  
}

.allaBostäder {
  font-size: bold;
  color: red;
  text-decoration:underline;
}
.lägenheter {
  font-size: bold;
  color: red;
  text-decoration:underline;
}
.villor {
  font-size: bold;
  color: red;
  text-decoration:underline;
}
ul li:hover { 
    background: #87D54D;
}


.navbar-default {
  z-index:1000;
}
.pull-right {
}
.img-circle {
  height: 120px;
  width: 120px;
}
