.img-responsive {
  display: initial;
  width: 100%;
}

.details {
  margin-top: 2%;   
}
.searchmodule {
  margin: 1%
}
.container-fluid {
  padding-left: 0;
  padding-right: 0;
}
.logo {
  position: static;
  margin-left: 10%;
}
.navbar {
  max-height: 64px;
}
.navbar-collapse {
  margin-right: 2%;
}
.navbar-nav {
  font-size: 1.8em;
  width: 80%;
}
.navbar-nav > li {
  margin-left: 7%;
}

.details {
  margin-top: 0;
}
.logopic {
  z-index: 10;
}