

<div class="btn-group" role="group">
  <div class="dropdown dropdown-lg">
    <!-- dropdown knappen ng-click="toggleWells()"--> 
    <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown" aria-expanded="false" ng-click="toggleDropdown()">&nbsp;<span class="glyphicon glyphicon-search" aria-hidden="true"></span>&nbsp;<span class="caret"></span></button>



    <div class="dropdown-menu dropdown-menu-center" role="menu" id="dropsearch">
      <form class="form-horizontal" role="form">

        <div class="form-group">

          <select ng-model="townSel" class="form-control">
            <option value="" selected>Bostadstyp</option>
            <option value="">Alla</a></option>
            <option value="Villa">Villor</option>

            <option value="Bostadsrättslägenhet">Lägenheter</option>

          </select>
        </div>



        <div class="form-group">

          <select ng-model="minAreaSel" class="form-control">
            <option value="" selected>Område</option>
            <option value="Alla">Alla</option>
            <option value="Malmö">Malmö</option>
            <option value="Stockholm">Stockholm</option>
            <option value="Lund">Lund</option>
            <option value="Helsinborg">Helsinborg</option>
            
          </select>
        </div>

        <div class="form-group">
          <select ng-model="minPriceSel" class="form-control">

            <option value="" selected>Minsta Pris</option>
            <option value="300000">300 000</option>
            <option value="500000">500 000</option>
            <option value="700000">700 000</option>
            <option value="1000000">1 000 000</option>
            <option value="1500000">1 500 000</option>
            <option value="1700000">1 700 000</option>
            <option value="2000000">2 000 000</option>
            <option value="2500000">2 500 000</option>
            <option value="3000000">3 000 000</option>
          </select>




        </div>

        <div class="form-group">
          <select ng-model="maxPriceSel" class="form-control">

            <option value="" selected>Högsta Pris</option>
            <option value="500000">500 000</option>
            <option value="1000000">1 000 000</option>
            <option value="1500000">1 500 000</option>
            <option value="2000000">2 000 000</option>
            <option value="2500000">2 500 000</option>
            <option value="3000000">3 000 000</option>
            <option value="4000000">4 000 000</option>
            <option value="6000000">6 000 000</option>
            <option value="10000000">10 000 000</option>
          </select>


        </div>

        <div class="form-group">
          <select ng-model="maxRoomSel" class="form-control">

            <option value="" selected>Rum</option>
            <option value="1"> 1 rum</option>
            <option value="2"> 2 rum</option>
            <option value="3"> 3 rum</option>
            <option value="4"> 4 rum</option>
            <option value="5"> 5 rum</option>
            <option value="6"> 6 rum</option>
            <option value="7"> 7 rum</option>
            <option value="8"> 8 rum</option>
            <option value="9"> 9 rum</option>
            <option value="10"> 10 rum</option>


          </select>


        </div>

        <!-- searchQuery knapp -->
        <button type="submit" class="btn btn-success" ng-click="startQuery()">Sök Nu&nbsp;<span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
        <!-- resetQuery knapp -->
        <!-- <button type="submit" class="btn btn-primary" ng-click="resetQuery()"><span class="fa fa-refresh" aria-hidden="true"></span></button> -->
      </form>
    </div>
  </div>
</div>

<!-- Split button -->

<!--
<div class="col-xs-24">
      <h3>Query results ({{results.length}} items)</h3>
      <div class="panel panel-info">
        results from search 
        <table class="table table-hover">
          <tr>
            <th>
              Adress
            </th>
            <th>
              Område
            </th>
            <th>
              Pris
            </th>
            <th>
              Rum
            </th>
            <th>
            Bo yta
            </th>
          </tr>
          <tr ng-repeat="result in results">
            <td>
              {{result.address}}
            </td>
            <td>
              {{result.area}}
            </td>
            <td>
              {{result.price}}
            </td>
            <td>
              {{result.rooms}}
            </td>
            <td>
            
              {{result.size}} kvm
            </td>
          </tr>
        </table>
      </div>
    </div>
  </div>



</div>-->